<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<div style="text-align: center; margin-top: 50px;">
    <h1>Добро пожаловать на главную страницу</h1>
    <hr>
    <h3>На этом сайте вы можете управлять пользователями в базе данных:</h3>
    <p>Просматривать, создавать, изменять, удалять пользователей.</p>
    <hr>
    <p>Для работы с данной возможностью перейдите по ссылке ниже:</p>
    <a href="users">Перейти на страницу работы с пользователями</a>
</div>
</body>
</html>
